body {
  font-family: 'Libre Baskerville', serif;
  background-color: #000000;
  color: rgb(80, 105, 97);
  text-align: center;
  list-style-position: inside;
}
@media screen and (min-width: 480px){
  body {
  background-color: #1e2129;
  color: wheat;
  }
}
.link {
  
}